/*通用样式*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family:'Microsoft Yahei';
    color:#fff;
}
.clearfix:after{
    content:'';
    display:block;
    clear:both;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a:link{
    text-decoration: none;
}